* {
    margin: 0px;
    padding: 0px;
}

.grid_system {
    background-color: #eee;
    margin: 0 auto;
}

.grid_system .cell_container {
    background-color: #eee;
    width: auto;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid_system .cell_container .cells_1_3 {
    background-color: #eee;
    margin: 0;
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.grid_system .cell_container .cells_1_3 .cell {
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: #eee;

    display: inline-flex;
    flex-direction: column;

    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.grid_system .cell_container .cells_1_3 .cell .button {
    color: #eee;
    margin-top: 5px;
    width: auto;
    height: auto;
    background-color: #C0C0C0;

    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    display: flex;
    justify-content: space-between;
}

.grid_system .cell_container .cells_1_3 .cell .button .discipline {
    color: black;
    margin: 2px 5px 0px 5px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_system .cell_container .cells_1_3 .cell .mark {
    color: black;
    margin: 2px;
    width: auto;
    height: auto;
    background-color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_system .cell_container .cells_2_4 {
    background-color: #eee;
    width: auto;
    margin: 0px;
    padding: 10px;
}

.grid_system .cell_container .cells_2_4 .cell {
    margin: 10px 10px 20px 10px;
    padding: 10px;

    width: 310px;
    height: 500px;

    color: black;
    background-color: #eee;
    
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

@media screen and (max-width:991px) {
    .grid_system .cell_container .cells_2_4 {
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {
    .grid_system .cell_container .cells_1_3 {
        padding: 10px;
    }

    .grid_system .cell_container .cells_1_3 .cell {
        margin: 5px;
    }

    .grid_system .cell_container .cells_1_3 .cell .button .discipline {
        margin: 2px;
    }

    .grid_system .cell_container .cells_1_3 .cell .mark {
        width: auto;
    }

    .grid_system .cell_container .cells_2_4 .cell {
        margin: 5px;
        width: 250px;
        height: 500px;
    }
}