a:hover {
    text-decoration: none;
}

a {
    color: inherit
}

.about-container {
    width: 100%;
    height: auto;
    display: flex;
    /* min-height: 100vh; */
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-pocket-moodle-darkgray);
}

.about-header-container {
    width: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.about-header {
    flex: 0 0 auto;
    width: auto;
    height: 100px;
    display: flex;
    z-index: 100;
    align-items: center;
    margin-left: var(--dl-space-space-tripleunit);
    padding-top: var(--dl-space-space-doubleunit);
    margin-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: space-between;
}

.about-container01 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.about-p-o-c-k-e-t-m-o-o-d-l-e {
    color: #ffffff;
    width: 14rem;
    transition: 0.3s;
}

.about-p-o-c-k-e-t-m-o-o-d-l-e:hover {
    color: var(--dl-color-turquoise-default);
}

.about-thq-dropdown {
    width: auto;
    height: 2.5rem;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
}

.about-dropdown-toggle {
    fill: #595959;
    color: #595959;
    width: auto;
    display: inline-flex;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: 2px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-end;
}

.about-dropdown-toggle:hover~.about-dropdown-list {
    display: flex;
}

.about-dropdown-list:hover {
    display: flex;
}

.about-dropdown-arrow {
    align-self: flex-end;
    transition: 0.3s;
}

.about-icon {
    fill: var(--dl-color-pocket-moodle-white);
    width: 24px;
    height: 24px;
    transition: 0s;
}

.about-icon:hover {
    fill: var(--dl-color-turquoise-default);
}

.about-dropdown-list {
    top: 30px;
    right: 15px;
    width: max-content;
    display: none;
    z-index: 100;
    position: absolute;
    min-width: 125px;
    transition: 0.3s;
    align-items: stretch;
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: 4px;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--dl-color-gray-white);
    list-style-position: inside;
}

.about-dropdown {
    cursor: pointer;
    display: block;
    position: relative;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    border-radius: 2px;
}

.about-dropdown-toggle1 {
    fill: #595959;
    color: #595959;
    width: 100%;
    display: block;
    transition: 0.3s;
    align-items: center;
    border-radius: 4px;
}

.about-dropdown-toggle1 a:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
}

.about-text {
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
}


body {
    background-color: var(--dl-color-gray-800);
}

.about-footer {
    flex: 0 0 auto;
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
}

.about-container12 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-gray-800);
}

.about-text15 {
    margin: var(--dl-space-space-doubleunit);
    transition: 0.3s;
}

.about-text15:hover {
    color: var(--dl-color-turquoise-default);
}