{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ static('css/me.css') }}"/>
<div class="grid_system">
    <div class="cell_container">
        {% if users|length != 0 %}
            <div class="cells">
                <div class="cell">
                    Users
                    {% for user_ in users %}
                        <a href="{{ url('admin_user', user_id=user_) }}">
                            <div class="button">
                                <div class="discipline">
                                    {{ user_ }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}