<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pocket Moodle</title>
  <meta property="og:title" content="pocket-moodle" />

  <style data-tag="reset-style-sheet">
    html {
      line-height: 1.15;
    }

    body {
      margin: 0;
    }

    * {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
    }

    p,
    li,
    ul,
    pre,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
    }

    button,
    select {
      text-transform: none;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button;
    }

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    button:-moz-focus,
    [type="button"]:-moz-focus,
    [type="reset"]:-moz-focus,
    [type="submit"]:-moz-focus {
      outline: 1px dotted ButtonText;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    input {
      padding: 2px 4px;
    }

    img {
      display: block;
    }

    html {
      scroll-behavior: smooth
    }
  </style>
  <style data-tag="default-style-sheet">
    html {
      font-family: Inter;
      font-size: 16px;
    }

    body {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.55;
      color: var(--dl-color-gray-900);
      background-color: var(--dl-color-gray-white);

    }
  </style>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script:wght@400&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="{{ static("css/style.css") }}" />
  <link href="{{ static("css/about.css") }}" rel="stylesheet" />
</head>

<body>
  <div>
    <div class="about-container">
      <div data-role="Header" class="about-header-container">
        <header class="about-header">
          <a class="about-container01" href="{{ url('home') }}">
            <span class="about-p-o-c-k-e-t-m-o-o-d-l-e headline5">
                POCKET-MOODLE
            </span>
          </a>
          <div data-thq="thq-dropdown" class="about-thq-dropdown">
            <div data-thq="thq-dropdown-toggle" class="about-dropdown-toggle">
              <div data-thq="thq-dropdown-arrow" class="about-dropdown-arrow">
                <svg viewBox="0 0 1024 1024" class="about-icon">
                  <path
                    d="M810.667 725.333h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
                  </path>
                  <path
                    d="M810.667 426.667h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
                  </path>
                  <path
                    d="M810.667 128h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
                  </path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="about-dropdown-list">
              <li data-thq="thq-dropdown" class="about-dropdown list-item">
                <div data-thq="thq-dropdown-toggle" class="about-dropdown-toggle1">
                  {% if user %}
                    <a href="{{ url('me')}}" class="about-text">
                      <span>Me</span>
                    </a>
                    <a href="{{ url('logout')}}" class="about-text">
                      <span>Log out</span>
                    </a>
                  {% else %}
                    <a href="{{ url('login') }}" class="about-text">
                      <span>Sign in</span>
                    </a>
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </header>
      </div>
      <div class="about-main">
        <div class="about-hero">
          <div class="about-container02">
            <span class="about-about">
              <span>Keep track Moodle</span>
              <br />
              <span>in Telegram and Site</span>
              <br />
            </span>
            <primarybutton>
              <div class="primary-button-container primary-button-root-class-name1">
                <button class="primary-button-button mediumLabel button" onclick="window.open('https://t.me/pocket_moodle_aitu_bot', '_blank')">
                  <span>Get Started</span>
                </button>
              </div>
            </primarybutton>
          </div>
          <img alt="image" src="{{ static("public/playground_assets/%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82-400w.png")
            }}" class="about-image" />
        </div>
        <img alt="image" src="{{ static("public/playground_assets/turquoise-circle.svg") }}"
          class="about-turquoise-cirble" />
        <img alt="image" src="{{ static("public/playground_assets/purple-circle.svg") }}"
          class="about-purple-circle" />
      </div>
      <div class="about-c-t-a">
        <div class="about-container03">
          <div class="about-container04">
            <h2 class="about-text07 headline6">
              <span>Check Moodle</span>
              <br />
              <span>from your mobile</span>
            </h2>
            <span class="about-text11">
              Get Telegram messages about changes in grades, deadlines and
              news from the Moodle website. You can also request the entire
              list of up-to-date information at any time just using our
              website or Bot
            </span>
          </div>
          <div class="about-container05">
            <img alt="image" src="{{ static("public/playground_assets/2-300w.png") }}" class="about-image1" />
            <img alt="image" src="{{ static("public/playground_assets/3-300w.png") }}" class="about-image2" />
          </div>
        </div>
      </div>
      <div class="about-features">
        <div class="about-features1">
          <featurecard>
            <div class="feature-card-container">
              <img alt="image" src="{{ static("public/playground_assets/03.svg") }}" class="feature-card-image" />
              <h5 class="feature-card-text headline6">
                <span>User friendly</span>
              </h5>
              <span class="feature-card-text1">
                <span>
                  We always try to show you as much as possible, but at the
                  same time not to overload with information. We appreciate
                  you!
                </span>
              </span>
            </div>
          </featurecard>
          <featurecard>
            <div class="feature-card-container">
              <img alt="image" src="{{ static("public/playground_assets/06.svg") }}" class="feature-card-image" />
              <h5 class="feature-card-text headline6">
                <span>Well organized</span>
              </h5>
              <span class="feature-card-text1">
                <span>
                  Each user will receive their data without exceptions. Our
                  servers will take care of maintaining the queue and speed of
                  operation
                </span>
              </span>
            </div>
          </featurecard>
          <featurecard>
            <div class="feature-card-container">
              <img alt="image" src="{{ static("public/playground_assets/01.svg") }}" class="feature-card-image" />
              <h5 class="feature-card-text headline6">
                <span>Robust workflow</span>
              </h5>
              <span class="feature-card-text1">
                <span>
                  The client will be followed by the client, so we provide
                  reliable services
                </span>
              </span>
            </div>
          </featurecard>
          <featurecard>
            <div class="feature-card-container">
              <img alt="image" src="{{ static("public/playground_assets/04.svg") }}" class="feature-card-image" />
              <h5 class="feature-card-text headline6">
                <span>Multiple sources</span>
              </h5>
              <span class="feature-card-text1">
                <span>
                  Telegram bot or website, you can use one or all of them.
                  Just try it all!
                </span>
              </span>
            </div>
          </featurecard>
          <featurecard>
            <div class="feature-card-container">
              <img alt="image" src="{{ static("public/playground_assets/02.svg") }}" class="feature-card-image" />
              <h5 class="feature-card-text headline6">
                <span>Flexibility</span>
              </h5>
              <span class="feature-card-text1">
                <span>
                  The system is scalable, write to us by mail, Github,
                  Telegram, we will fulfill your wishes
                </span>
              </span>
            </div>
          </featurecard>
          <featurecard>
            <div class="feature-card-container">
              <img alt="image" src="{{ static("public/playground_assets/05.svg") }}" class="feature-card-image" />
              <h5 class="feature-card-text headline6">
                <span>Better compoents</span>
              </h5>
              <span class="feature-card-text1">
                <span>
                  We use only new versions of Python and libraries. Virtual
                  and physical servers will ensure reliability
                </span>
              </span>
            </div>
          </featurecard>
        </div>
      </div>
      <div class="about-testimonials">
        <div class="about-container06">
          <div class="about-container07">
            <img alt="image" src="{{ static("public/playground_assets/quote-mark.svg") }}" class="about-image3" />
            <h1 class="about-text12 headline4">
              Real Stories from Real Users
            </h1>
            <span class="about-text13">Get inspired by these stories.</span>
            <div class="about-container08">
              <testimonialscard>
                <div class="testimonials-card-container">
                  <img alt="image" src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
                    class="testimonials-card-image" />
                  <div class="testimonials-card-container1">
                    <img alt="image" src="{{ static("public/playground_assets/quote-mark.svg") }}"
                      class="testimonials-card-image1" />
                    <div class="testimonials-card-container2">
                      <span class="testimonials-card-text">
                        <span>
                          It's convenient that you don't have to go to Moodle, the bot sends everything by itself. A very cool feature that sends deadlines that are running out of time. And also sends new grades, every updated grade. 10 out of 10 in general
                        </span>
                      </span>
                      <span class="testimonials-card-text1">
                        <span>Liana</span>
                      </span>
                      <span class="testimonials-card-text2 lead2">
                        <span>220064</span>
                      </span>
                    </div>
                  </div>
                </div>
              </testimonialscard>
            </div>
          </div>
          <div class="about-container09">
            <div class="about-container10">
              <testimonialscard>
                <div class="testimonials-card-container testimonials-card-root-class-name">
                  <img alt="image" src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
                    class="testimonials-card-image" />
                  <div class="testimonials-card-container1">
                    <img alt="image" src="{{ static("public/playground_assets/quote-mark.svg") }}"
                      class="testimonials-card-image1" />
                    <div class="testimonials-card-container2">
                      <span class="testimonials-card-text">
                        <span>
                          Very easy to use, works without any problem. Pocket Moodle AITU Bot saved my time cause when you use this bot u don't need to log in into your moodle account everytime. With this bot you can easily check ur upcoming deadlines and grades
                        </span>
                      </span>
                      <span class="testimonials-card-text1">
                        <span>Maxim</span>
                      </span>
                      <span class="testimonials-card-text2 lead2">
                        <span>221796</span>
                      </span>
                    </div>
                  </div>
                </div>
              </testimonialscard>
            </div>
            <div class="about-container11">
              <testimonialscard>
                <div class="testimonials-card-container testimonials-card-root-class-name1">
                  <img alt="image" src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
                    class="testimonials-card-image" />
                  <div class="testimonials-card-container1">
                    <img alt="image" src="{{ static("public/playground_assets/quote-mark.svg") }}"
                      class="testimonials-card-image1" />
                    <div class="testimonials-card-container2">
                      <span class="testimonials-card-text">
                        <span>
                          Landify saved our time in designing my company page.
                        </span>
                      </span>
                      <span class="testimonials-card-text1">
                        <span>Kristin Watson</span>
                      </span>
                      <span class="testimonials-card-text2 lead2">
                        <span>Co-Founder, FedEx</span>
                      </span>
                    </div>
                  </div>
                </div>
              </testimonialscard>
            </div>
          </div>
        </div>
      </div>
      <div class="about-features2">
        <h1 class="about-text14 headline3">Pricing</h1>
        <div class="about-features3">
          <subpricecard>
            <div class="sub-price-card-container sub-price-card-root-class-name">
              <div class="sub-price-card-container1">
                <div class="sub-price-card-container2">
                  <div class="sub-price-card-container3">
                    <span class="sub-price-card-text">
                      <span>2 days</span>
                    </span>
                    <span class="sub-price-card-text1">
                      <span>Perfect for start</span>
                    </span>
                    <span class="sub-price-card-text2">
                      <span>Free</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </subpricecard>
          <subpricecard>
            <div class="sub-price-card-container sub-price-card-root-class-name">
              <div class="sub-price-card-container1">
                <div class="sub-price-card-container2">
                  <div class="sub-price-card-container3">
                    <span class="sub-price-card-text">
                      <span>1 month</span>
                    </span>
                    <span class="sub-price-card-text1">
                      <span>Don't' be shy</span>
                    </span>
                    <span class="sub-price-card-text2"><span>480₸</span></span>
                  </div>
                </div>
              </div>
            </div>
          </subpricecard>
          <subpricecard>
            <div class="sub-price-card-container sub-price-card-root-class-name">
              <div class="sub-price-card-container1">
                <div class="sub-price-card-container2">
                  <div class="sub-price-card-container3">
                    <span class="sub-price-card-text">
                      <span>3 months</span>
                    </span>
                    <span class="sub-price-card-text1">
                      <span>You'll get hooked on it</span>
                    </span>
                    <span class="sub-price-card-text2"><span>1320₸</span></span>
                  </div>
                </div>
              </div>
            </div>
          </subpricecard>
          <subpricecard>
            <div class="sub-price-card-container sub-price-card-root-class-name">
              <div class="sub-price-card-container1">
                <div class="sub-price-card-container2">
                  <div class="sub-price-card-container3">
                    <span class="sub-price-card-text">
                      <span>6 months</span>
                    </span>
                    <span class="sub-price-card-text1">
                      <span>Half a year of buzz</span>
                    </span>
                    <span class="sub-price-card-text2"><span>2280₸</span></span>
                  </div>
                </div>
              </div>
            </div>
          </subpricecard>
          <subpricecard>
            <div class="sub-price-card-container sub-price-card-root-class-name">
              <div class="sub-price-card-container1">
                <div class="sub-price-card-container2">
                  <div class="sub-price-card-container3">
                    <span class="sub-price-card-text">
                      <span>9 months</span>
                    </span>
                    <span class="sub-price-card-text1">
                      <span>For rich students</span>
                    </span>
                    <span class="sub-price-card-text2"><span>2880₸</span></span>
                  </div>
                </div>
              </div>
            </div>
          </subpricecard>
        </div>
      </div>
      <div class="about-footer">
        <div class="about-container12">
          <a class="about-text15" href="{{ url('about_company') }}" rel="noopener noreferrer">
            <span class="about-text16">About</span>
          </a>
          <a class="about-text15" href="{{ url('privacy_policy') }}" rel="noopener noreferrer">
              <span class="about-text16">Privacy Policy</span>
          </a>
          <a class="about-text15" href="{{ url('user_agreement') }}" rel="noopener noreferrer">
              <span class="about-text16">User Agreement</span>
          </a>
          <a class="about-text15" href="https://t.me/pocket_moodle_aitu_bot" target="_blank" rel="noopener noreferrer">
              <span class="about-text16">Bot</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>