{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ static('css/base_info.css') }}" />
<div class="info-container">
    <h1>Info about Individual Entrepreneurship</h1>
    </br>
    <p>Name: "Pocket Moodle"</p>
    <p>UIN: 031009550155</p>
    <p>E-mail: <a href = "mailto: pocket-moodle@outlook.com">pocket-moodle@outlook.com</a></p>
    <p>Address: Kazakhstan, Astana, Saryarka 11</p>
    </br>
    </br>
    </br>
    </br>
    <i class="fa fa-telegram" style="font-size:36px; color: #fff; margin-left: 25px;"></i>
    <p>Bot: <a href="https://t.me/pocket_moodle_aitu_bot">t.me/pocket_moodle_aitu_bot</a></p>
    <p>Channel: <a href="https://t.me/pocket_moodle_aitu">t.me/pocket_moodle_aitu</a></p>
    <p>Chat: <a href="https://t.me/pocket_moodle_chat">t.me/pocket_moodle_chat</a></p>
    <p>Admin: <a href="https://t.me/dake_duck">t.me/dake_duck</a></p>
</div>
{% endblock content %}