{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ static('css/base_info.css') }}" />
<div class="info-container">
    <div field="text" class="t-text t-text_md">
        <strong></strong><strong>ПУБЛИЧНЫЙ ДОГОВОР-ОФЕРТА НА ОКАЗАНИЕ ИНФОРМАЦИОННЫХ УСЛУГ</strong><strong></strong>

        <br>

        <br>
        Настоящий Договор является официальным предложением (публичной офертой) Индивидуального предпринимательства
        "Pocket Moodle" (в дальнейшем «Исполнитель») для любого физического лица (далее –
        «Заказчик»), которое примет настоящее предложение на указанных ниже условиях.
        <br>
        <br>Публичная оферта и
        тарифные планы являются официальными документами Исполнителя и публикуются на сайте <a
            href="http://pocketmoodle.ddns.net/">http://pocketmoodle.ddns.net/</a> (далее – сайт Исполнителя). Положения
        об Услугах,
        размещаемые на сайте Исполнителя, являются приложениями к данному договору. Услуги оказываются на условиях,
        определенных в настоящем документе, размещенном в свободном доступе в сети Интернет по адресу <a
            href="http://pocketmoodle.ddns.net/oferta">http://pocketmoodle.ddns.net/oferta</a>. Исполнитель вправе
        изменить или дополнить
        настоящие Условия, разместив новые условия не менее, чем за один день до их введения по адресам <a
            href="http://pocketmoodle.ddns.net/oferta">http://pocketmoodle.ddns.net/oferta</a>.
        <br>
        <br> Публикация (размещение) текста
        публичного договора на официальном сайте Исполнителя (<a
            href="http://pocketmoodle.ddns.net">http://pocketmoodle.ddns.net</a>)
        является публичным предложением (офертой) Исполнителя, адресованным широкому кругу лиц с целью оказания
        определенных видов услуг (ст.395 Гражданского Кодекса Республики Казахстан). Фактом принятия (акцепта)
        Заказчиком условий настоящего Договора является оплата Заказчиком заказанных им Услуг через сайт Исполнителя и
        систему <a href="https://robokassa.kz">https://robokassa.kz</a> (ст.396 п.3 Гражданского Кодекса
        Республики Казахстан).
        <br>
        <br>
        <br>
        <ol>
            <li>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ </li>
        </ol> 1.1. Для целей настоящего Договора приведенные ниже термины и определения используются в следующем
        значении:
        <br> Адрес электронной почты / электронная почта Исполнителя – <a
            href="mailto:pocket-moodle@outlook.com">pocket-moodle@outlook.com</a>
        <br> Веб-сайт Исполнителя – <a href="http://pocketmoodle.ddns.net">http://pocketmoodle.ddns.net</a>
        <br> Telegram Бот Исполнителя – <a href="https://t.me/pocket_moodle_aitu_bot">https://t.me/pocket_moodle_aitu_bot</a>
        <br> «Акцепт» — полное и безоговорочное принятие Заказчиком
        условий настоящей Оферты, совершенное путем предоставления Исполнителю контактной информации и оплаты Заказчиком
        Услуг.
        <br>
        <br>
        <ol>
            <li>2. ПРЕДМЕТ ДОГОВОРА </li>
        </ol> 2.1. Предметом настоящего Договора является возмездное предоставление Исполнителем
        информационно-консультационных услуг в виде групповых и индивидуальных разовых консультаций, лекций, тренингов,
        семинаров (далее – «Услуга»), которые Заказчик обязуется оплатить в размере и на условиях, предусмотренных
        настоящим Договором.
        <br>
        <br> 2.2. Исполнитель оказывает Услуги дистанционно, путем использования глобальной
        сети Интернет и иных средств электросвязи и телекоммуникаций, программного обеспечения и баз данных Исполнителя.

        <br>
        <br> 2.3. Указанные в пункте 2.1 Договора услуги носят консультативный характер и никоим образом не являются
        образовательными или иными, требующими от Исполнителя наличия специального разрешения (лицензии).
        <br>
        <br> 2.4.
        Заказчик предупрежден о том, что информационно-консультационные услуги в рамках настоящего Договора не
        сопровождаются итоговой аттестацией и Заказчику не выдается какой-либо сертификат или свидетельство.
        <br>
        <br>
        2.5. Условия, название, стоимость оказания Услуг размещены по адресу: <a
            href="http://pocketmoodle.ddns.net">http://pocketmoodle.ddns.net</a> либо на других страницах, входящих в
        состав сайта <a href="http://pocketmoodle.ddns.net">http://pocketmoodle.ddns.net</a>
        <br>
        <br> 2.6. В целях оперативного
        взаимодействия между Исполнителем и Заказчиком вся переписка осуществляется посредством электронной почты или
        чата Telegram.

        <br>
        <br>
        <br>
        <ol>
            <li>3. ПРАВА И ОБЯЗАННОСТИ СТОРОН </li>
        </ol> 3.1. Исполнитель обязан:
        <br>
        <br> 3.1.1. оказывать услуги надлежащего качества, в сроки и в соответствии с
        условиями настоящего Договора;
        <br>
        <br> 3.1.2. самостоятельно готовить наглядные и демонстрационные материалы,
        необходимые для оказания Услуг;
        <br>
        <br> 3.1.3. после акцепта Оферты передать Заказчику доступ к услугам;
        <br>
        <br> 3.1.4. заранее предупредить Заказчика о независящих от
        Исполнителя обстоятельствах, которые создают невозможность оказания услуг вообще или в установленный в настоящей
        Оферте срок.
        <br>
        <br> 3.2. Исполнитель вправе:
        <br>
        <br> 3.2.1. в любой момент изменять даты оказания услуг,
        время, их стоимость и условия настоящего Договора в одностороннем порядке без предварительного согласования с
        Заказчиком, обеспечивая при этом публикацию измененных условий на сайте Исполнителя, не менее, чем за один день
        до их ввода в действие. 3.2.2. определять самостоятельно методику и формат оказания
        информационных услуг, учитывая пожелания Заказчика, высказанные перед осуществлением оплаты
        Услуг; 3.2.3. оказывать Услуги лично либо с привлечением третьих лиц. В случае привлечения третьих лиц
        Исполнитель несет ответственность за их действия перед Заказчиком, как за свои собственные;
        <br>
        <br> 3.2.4. отказать Заказчику в предоставлении услуг и вернуть уплаченные Заказчиком денежные средства без
        объяснения
        причин;
        <br>
        <br> 3.2.5. Обязанности Исполнителя ограничиваются условиями настоящей оферты, в частности, в
        обязанности Исполнителя не входит оказание услуг Заказчику по предоставлению доступа в сеть Интернет. Доступ к
        сети Интернет Заказчик обеспечивает за свой счет самостоятельно. Также Исполнитель не предоставляет возможности
        приема-передачи электронных сообщений Заказчиком в офисе Исполнителя; настройку и/или диагностику компьютерного
        оборудования и программного обеспечения, а также обучение Заказчика и/или сотрудников Заказчика навыкам работы с
        программным и аппаратным обеспечением.
        <br>
        <br> 3.3. Заказчик обязан:
        <br> 3.3.1. оплатить услуги Исполнителя в
        полном объеме, на условиях и в порядке, установленном в настоящем Договоре;
        <br>
        <br> 3.3.2. не передавать свое право
        доступа (ключ доступа и данные по авторизации) к программному обеспечению третьим лицам, а также не публиковать
        в общем доступе глобальной сети интернет персональные ссылки для пользования Услугой;
        <br>
        <br> 3.3.3. не
        разглашать конфиденциальную информацию и иные данные, предоставленные Исполнителем в связи с исполнением
        настоящего Договора;
        <br>
        <br> 3.3.4. не распространять (публиковать, размещать в сети Интернет, копировать,
        передавать и перепродавать третьим лицам) в коммерческих или некоммерческих целях материалы, предоставляемые
        Исполнителем в рамках настоящего Договора, а также создавать на основе данных материалов информационные продукты
        и использовать указанные материалы иным образом, кроме личного использования;
        <br>
        <br> 3.3.5. При использовании Сервиса
        Заказчику запрещается осуществлять массовую рассылку электронных сообщений коммерческого, рекламного и иного
        характера, не согласованных (не запрошенных) с получателем информации по электронной почте («спам»). Не рассматривается как «спам» рассылка
        информации с согласия получателя, при возможности отказа от подписки. Также не рассматриваются как «спам»
        электронные сообщения, отправляемые автоматически в ответ на совершение пользователем определённого действия на
        сайте Исполнителя: регистрация, запрос на восстановление пароля, формирование заявки на Услугу. Под электронными
        сообщениями понимаются сообщения электронной почты. Запрещается рассылка «спама» через ресурсы, не принадлежащие
        Исполнителю, в том случае, если в сообщении указаны координаты (адрес сайта, электронной почты и т.д.),
        поддерживаемые Исполнителем. Использование сервиса должно осуществляться Заказчиком только для законных целей
        законными способами с учетом законодательства РK и международных норм.
        <br>
        <br> 3.4. Заказчик вправе:
        <br>
        3.4.1. отказаться от услуг Исполнителя при условии предварительного уведомления Исполнителя не менее, чем за три
        дня, при этом Заказчик возмещает Исполнителю фактически понесенные последним расходы. В случае одностороннего
        отказа Заказчика от услуг Исполнителя менее, чем за три дня произведенная оплата не возвращается.
        <br>
        <br> 3.5.
        пользоваться дополнительными услугами Исполнителя за отдельную плату.
        <br>
        <br>
        <br>
        <ol>
            <li>4. УСЛОВИЯ ОПЛАТЫ И ПОРЯДОК РАСЧЕТОВ </li>
        </ol> 4.1. Стоимость Услуг Исполнителя, наименования услуг и возможные способы оплаты публикуются на сайте
        Исполнителя. Стоимость Услуг указывается с учетом всех необходимых налогов.
        <br>
        <br> 4.2. Оплата Услуг по
        настоящему Договору осуществляется на основе стопроцентной предоплаты и в порядке, устанавливаемом в настоящем
        Договоре, или в рассрочку по предварительному согласованию с Исполнителем.
        <br>
        <br> 4.3. Моментом оплаты Услуги
        считается поступление средств на расчетный счет Исполнителя.
        <br>
        <br> 4.4. Заказчик самостоятельно несет
        ответственность за правильность производимых им платежей.
        <br>
        <br> 4.5. Оплата принимается от Заказчика на счет
        Исполнителя через платежные системы, поддерживаемые сервисом Исполнителя.
        <br>
        <br> 4.6. После оплаты Оферта
        считается акцептованной.
        <br>
        <br> 4.7. В зависимости от способа платежа, выбранного Заказчиком, может
        применяться операционный сбор. Размер операционного сбора указывается в описании способа платежа до момента
        совершения платежа Заказчиком. Выбирая способ платежа, Заказчик соглашается с предусмотренным операционным
        сбором.
        <br>
        <br> 4.8. Услуги предоставляются в полном объеме при условии их полной оплаты Заказчиком.
        <br>
        <br>
        4.10. Исполнитель оставляет за собой право в отказе от предоставления Услуг в случае не поступления денежных
        средств на расчетный счет Исполнителя не позднее одного дня до даты оказания Услуг, опубликованных в сети
        интернет на сайте Исполнителя.
        <br>
        <br>
        <br>
        <ol>
            <li>5. ПОРЯДОК ОКАЗАНИЯ УСЛУГ </li>
        </ol> 5.1. В течение одного рабочего дня с момента получения Заявки Заказчика, согласно п. 3.3.1 настоящего
        Договора, Исполнитель направляет сообщение со ссылкой для оплаты Услуги. По
        факту поступления средств Исполнитель вносит данные по Заказчику в свою информационную базу и направляет
        последнему уведомление о положительном решении и зачислении в группу прохождения информационных услуг.

        <br>
        <br> 5.2. Оказание информационных услуг Заказчику осуществляется в следующих формах:

        <br>
        <br> 5.2.1. На сайте Исполнителя;
        <br>
        <br> 5.2.2. В Telegram Боте Исполнителя;
    
        <br>
        <br> 5.3 Описание услуг
        <br>
        <br> 5.3.1. Согласно п. 5.2.1, услуги предоставляются доступом к информационной базе, собранной после Акцепта. Информационные услуги предоставляются в виде уведомление от Telegram Бота или же на сайте Исполнителя
        <br>
        <br>
        <br>
        <ol>
            <li>6. ОТВЕТСТВЕННОСТЬ СТОРОН </li>
        </ol> 6.1. Стороны несут ответственность в соответствии с действующим законодательством Республики Казахстан.

        <br>
        <br> 6.2. В случае нарушения Заказчиком сроков оплаты услуг Исполнитель имеет право расторгнуть настоящий
        Договор в одностороннем порядке.
        <br>
        <br> 6.3. В случае не предоставления
        Услуг Исполнителем после даты начала оказания Услуг в течение свыше 31 календарного дня, Заказчик имеет право
        расторгнуть настоящий Договор в одностороннем порядке, а Исполнитель вернуть уплаченные денежные средства
        Заказчиком по настоящему Договору. При этом Заказчик не может претендовать на сумму, превышающую уплаченные
        Заказчиком денежные средства.
        <br>
        <br> 6.4. При возникновении обстоятельств, которые делают полностью или частично
        невозможным выполнение договора одной из сторон, а именно: пожар, стихийное бедствие, война, военные действия
        любого характера, изменения текущего законодательства и другие обстоятельства непреодолимой силы, не зависящие
        от сторон, сроки исполнения обязательств продлеваются на то время, в течение которого действуют эти
        обстоятельства.
        <br>
        <br> 6.5. Если обстоятельства непреодолимой силы действуют более 3 месяцев любая из сторон
        вправе отказаться в одностороннем порядке от дальнейшего выполнения обязательств по настоящему Договору, причем
        ни одна из сторон не может требовать от другой стороны возмещения убытков.
        <br>
        <br> 6.6. Подтверждением наличия
        и продолжительности обстоятельств непреодолимой силы являются документы, выданные компетентными органами
        государственной власти РК.
        <br>
        <br>
        <br>
        <ol>
            <li>7. РАЗРЕШЕНИЕ СПОРОВ И РАЗНОГЛАСИЙ </li>
        </ol> 7.1. Все споры или разногласия, возникающие между Сторонами по Договору или в связи с ним, разрешаются
        путем переговоров между ними.
        <br>
        <br>7.2. В случае невозможности разрешения разногласий путем переговоров они подлежат
        рассмотрению в судебных органах по месту нахождения Исполнителя согласно установленному законодательством
        Республики Казахстан порядку.
        <br>
        <br>
        <br>
        <ol>
            <li>8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ </li>
        </ol> 8.1. Настоящий Договор представляет собой полную договоренность между Заказчиком и Исполнителем.
        Исполнитель и Заказчик принимают на себя обязательства по исполнению условий Договора только в том объеме,
        который указан в настоящем Договоре.
        <br>
        <br> 8.2. Настоящий Договор вступает в силу с момента акцепта и
        действует до момента исполнения сторонами своих обязательств.
        <br>
        <br> 8.3. Акцептуя настоящий договор, Заказчик
        - дает согласие на сбор, обработку, использование, хранение своих персональных данных в соответствии с политикой
        конфиденциальности Веб-сайта Исполнителя, расположенной по адресу <a
            href="http://pocketmoodle.ddns.net/privacy_policy">http://pocketmoodle.ddns.net/privacy_policy</a>. В случае
        отзыва Заказчиком вышеуказанного
        согласия, Исполнитель удаляет их из своей базы данных. Каждое последующее обращение Заказчика к Исполнителю за
        предоставлением Услуг считается первым. В данном случае действие скидок на стоимость Услуг и/или рекламных акций
        на данного Заказчика не распространяется.
        <br>
        <br>
        <br> - выражает своё согласие на получение рекламной
        информации от Исполнителя, распространяемой по сетям связи в целях и случаях, когда необходимость такого
        согласия предусмотрена законодательством о рекламе.
        <br>
        <br>
        <br>
        <ol>
            <li>9. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ </li>
        </ol> ИП «Pocket Moodle»
        <br> Юридический адрес: Республика Казахстан,060011, Акмолинская область, г. Астана, ул.
        Сарыарка 11
        <br> РНН:
        <br> ИИК: в АО «Народный Банк Казахстана»
        <br> БИК: HSBKKZKX
        <br> Кбе: 19
        <br>
    </div>
</div>
{% endblock content %}