{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ static('css/base_info.css') }}" />
<div class="info-container">
    <div field="text" class="t-text t-text_md">
        <strong></strong><strong>PUBLIC OFFER AGREEMENT ON THE PROVISION OF INFORMATION SERVICES</strong><strong></strong>
        <br>
        <br>
        This Agreement is an official offer (public offer) Individual Entrepreneurship "Pocket Moodle" (hereinafter referred to as the «Contractor») for any individual (hereinafter referred to as the «Customer») who accepts this offer on the conditions specified below.
        <br>
        <br>The public offer and tariff plans are official documents of the Contractor and are published on the website <a
            href="http://pocketmoodle.ddns.net/">http://pocketmoodle.ddns.net/</a>  (hereinafter - the Contractor's website). Provisions
        about Services, posted on the Contractor's website are appendices to this agreement. Services are provided on the terms,
        defined in this document, which is freely available on the Internet at <a
            href="http://pocketmoodle.ddns.net/oferta">http://pocketmoodle.ddns.net/oferta</a>. The Contractor has the right to
        change or supplement
        these Terms and Conditions by posting new terms and conditions at least one day before their introduction at the following addresses <a
            href="http://pocketmoodle.ddns.net/oferta">http://pocketmoodle.ddns.net/oferta</a>.
        <br>
        <br> Publication (placement) of the text
        public agreement on the official website of the Contractor (<a
            href="http://pocketmoodle.ddns.net">http://pocketmoodle.ddns.net</a>)
        is a public offer of the Contractor addressed to a wide range of persons in order to provide certain types of services (article 395 of the Civil Code of the Republic of Kazakhstan). The fact of acceptance by the Customer of the terms of this Agreement is the payment by the Customer of the Services ordered by him through the Contractor's website and
        the system <a href="https://robokassa.kz">https://robokassa.kz</a> (article 396 paragraph 3 of the Civil Code of the Republic of Kazakhstan).
        <br>
        <br>
        <br>
        <ol>
            <li>1. TERMINOLOGY AND DEFINITIONS </li>
        </ol> 1.1. For the purposes of this Agreement, the following terms and definitions are used in the following
        meaning:
        <br> Email address / email address of the Contractor – <a
            href="mailto:pocket-moodle@outlook.com">pocket-moodle@outlook.com</a>
        <br> Contractor's website – <a href="http://pocketmoodle.ddns.net">http://pocketmoodle.ddns.net</a>
        <br> Contractor's Telegram Bot – <a href="https://t.me/pocket_moodle_aitu_bot">https://t.me/pocket_moodle_aitu_bot</a>
        <br> «Acceptance» — the Customer's full and unconditional acceptance of the terms of this Offer, made by providing the Contractor with contact information and paying for Services by the Customer.
        <br>
        <br>
        <ol>
            <li>2. THE SUBJECT OF THE AGREEMENT </li>
        </ol> 2.1. The subject of this Agreement is the paid provision by the Contractor information and consulting services in the form of group and individual one-time consultations, lectures, trainings, seminars (hereinafter – «Service»), which the Customer undertakes to pay in the amount and on the terms provided for by this Agreement.
        <br>
        <br> 2.2. The Contractor provides Services remotely by using the global
        Internet and other means of telecommunications, software and databases of the Contractor.
        <br>
        <br> 2.3. The services specified in paragraph 2.1 of the Agreement are advisory in nature and are in no way
        educational or other, requiring the Contractor to have a special permit (licenses).
        <br>
        <br> 2.4.
       The Customer is warned that information and consulting services under this Agreement are not they are accompanied by a final certification and no certificate is issued to the Customer.
       <br>
       <br>
       2.5. Conditions, name, cost of Services are available at: <a
           href="http://pocketmoodle.ddns.net">http://pocketmoodle.ddns.net</a> or on other pages that are part of
the site <a href="http://pocketmoodle.ddns.net">http://pocketmoodle.ddns.net</a>
       <br>
       <br> 2.6. For operational purposes
       interaction between the Contractor and the Customer all correspondence is carried out via email or
Telegram chat.
       <br>
       <br>
       <br>
       <ol>
           <li>3. RIGHTS AND OBLIGATIONS OF THE CONTRACTOR AND THE CUSTOMER </li>
       </ol> 3.1. The contractor is obliged to:
       <br>
       <br> 3.1.1. to provide services of proper quality, on time and in accordance with the terms of this Agreement;
       <br>
       <br> 3.1.2. independently prepare visual and demonstration materials, required for the provision of Services;
       <br>
       <br> 3.1.3. after acceptance of the Offer, transfer access to the services to the Customer;
       <br>
       <br> 3.1.4. to warn the Customer in advance about circumstances beyond the Contractor's control that make it impossible to provide services at all or within the time specified in this
       Offer the deadline.
       <br>
       <br> 3.2. The contractor has the right to:
       <br>
       <br> 3.2.1. at any time, change the dates of the provision of services, the time, their cost and the terms of this Agreement unilaterally without prior agreement with the Customer, while ensuring the publication of the amended terms on the Contractor's website, at least one day before their entry into force; 
       <br>
       <br> 
           3.2.2. determine independently the methodology and format of rendering
       information services, taking into account the wishes of the Customer expressed before making the payment services;
       <br>
       <br> 3.2.3. to provide Services personally or with the involvement of third parties. In case of involvement of third parties
       The Contractor is responsible for their actions to the Customer, as for their own;
       <br>
       <br> 3.2.4. refuse to provide services to the Customer and return the money paid by the Customer without
       explanations
       reasons;
       <br>
       <br> 3.2.5. The obligations of the Contractor are limited by the terms of this offer, in particular, the
obligations of the Contractor do not include the provision of services to the Customer to provide access to the Internet. Access to
       The Customer provides the Internet at his own expense independently. Also, the Contractor does not provide the opportunity
       receiving and transmitting electronic messages by the Customer in the Contractor's office; setting up and/or diagnostics of computer
       equipment and software, as well as training of the Customer and/or the Customer's employees in the skills of working with
       software and hardware.
       <br>
       <br> 3.3. The Customer is obliged to:
         <br>
       <br> 3.3.1. pay for the Contractor's services in
       in full, on the terms and in accordance with the procedure established in this Agreement;
       <br>
       <br> 3.3.2. do not transfer your right
       access (access key and authorization data) to the software to third parties, as well as not to publish
       in the general access of the global Internet, personal links for using the Service;
       <br>
       <br> 3.3.3. not
to disclose confidential information and other data provided by the Contractor in connection with the execution
       this Agreement;
       <br><br> 3.3.4. do not distribute (publish, post on the Internet, copy, transfer and resell to third parties) for commercial or non-commercial purposes the materials provided by the Contractor within the framework of this Agreement, as well as to create information products based on these materials and use the specified materials in any way other than personal use;
       <br>
       <br> 3.3.5. When using the Service
       The Customer is prohibited from carrying out mass mailing of commercial, advertising and other electronic messages
       of a nature not agreed upon (not requested) with the recipient of the information by e-mail («spam»). It is not considered as a «spam» mailing list information with the consent of the recipient, if possible, unsubscribe. Also, electronic messages sent automatically in response to the user performing a certain action on the website are not considered as «spam» on the Contractor's website: registration, password recovery request, Service request formation. Under electronic
messages are understood as email messages. It is prohibited to send «spam» through resources that do not belong to the Contractor, if the message contains coordinates (website address, email address, etc.)
supported by the Contractor. The use of the service should be carried out by the Customer only for legitimate purposes
       by legal means, taking into account the legislation of the Republic of Kazakhstan and international norms.
       <br>
       <br> 3.4. The Customer has the right to:
         <br>
       <br> 3.4.1. to refuse the services of the Contractor, subject to prior notification of the Contractor at least three days in advance at the same time, the Customer reimburses the Contractor for the expenses actually incurred by the latter. In case of unilateral
       the Customer's refusal of the Contractor's services in less than three days, the payment made will not be refunded;
       <br>
       <br> 3.4.2.
        to use additional services of the Contractor for a fee.
       <br>
       <br>
       <br>
       <ol>
           <li>4. PAYMENT TERMS AND SETTLEMENT PROCEDURE </li>
       </ol> 4.1. The cost of the Contractor's Services, the names of services and possible payment methods are published on the website
       The Contractor. The cost of Services is indicated taking into account all necessary taxes.
       <br>
       <br> 4.2. Payment for Services by
       this Agreement is carried out on the basis of one hundred percent prepayment and in accordance with the procedure established in this Agreement, or in installments by prior agreement with the Contractor.
       <br>
       <br> 4.3. The moment of payment for the Service is considered to be the receipt of funds to the Contractor's current account bank.
       <br>
       <br> 4.4. The customer is solely responsible for the correctness of the payments made by him.
       <br>
       <br> 4.5. Payment is accepted from the Customer to the Contractor's account through payment systems supported by the Contractor's service.
       <br>
       <br> 4.6. After payment, the Offer is considered accepted.
       <br>
       <br> 4.7. Depending on the payment method chosen by the Customer, an operational fee may be applied. The amount of the transaction fee is indicated in the description of the payment method until the payment is made by the Customer. By choosing the payment method, the Customer agrees to the stipulated transaction fee.
       <br>
       <br> 4.8. The services are provided in full, subject to their full payment by the Customer.
       <br>
       <br>
       4.9. The Contractor reserves the right to refuse to provide Services in case of non-receipt of funds to the Contractor's current account no later than one day before the date of provision of Services published on the Internet on the Contractor's website.
       <br>
       <br>
       <br>
       <ol>
           <li>5. PROCEDURE FOR THE PROVISION OF SERVICES </li></ol> 5.1. Within one working day from the date of receipt of the Customer's Request, according to paragraph 3.3.1 of this Agreement, the Contractor sends a message with a link to pay for the Service. Upon receipt of funds, the Contractor enters data on the Customer into its information base and sends the latter a notification of a positive decision and enrollment in the information services group.
           <br>
           <br> 5.2. Provision of information services to the Customer is carried out in the following forms:
           <br>
           <br> 5.2.1. On the Contractor's website;
           <br>
           <br> 5.2.2. In The Telegram Bot Of the Contractor;
           <br>
           <br> 5.3. Description of services
           <br>
           <br> 5.3.1. According to paragraph 5.2.1, the services are provided by access to the information base collected after Acceptance. Information services are provided in the form of a notification from a Telegram Bot or on the Contractor's website.
           <br>
           <br>
           <br>
           <ol>
               <li>6. RESPONSIBILITY OF THE PARTIES </li>
           </ol> 6.1. The parties are responsible in accordance with the current legislation of the Republic of Kazakhstan.
   
           <br>
           <br> 6.2. In case of violation by the Customer of the terms of payment for services, the Contractor has the right to terminate this Agreement unilaterally.
           <br>
           <br> 6.3. In case of non-provision of Services by the Contractor after the start date of the provision of Services for more than 31 calendar days, the Customer has the right to terminate this Agreement unilaterally, and the Contractor to return the money paid by the Customer under this Agreement. At the same time, the Customer cannot claim an amount exceeding the money paid by the Customer.
           <br>
           <br> 6.4. In the event of circumstances that make it completely or partially impossible for one of the parties to fulfill the Agreement, namely: fire, natural disaster, war, military actions of any nature, changes in current legislation and other force majeure circumstances beyond the control of the parties, the terms of performance of obligations are extended for the time during which these circumstances apply.
           <br>
           <br> 6.5. If force majeure circumstances have been in effect for more than 3 months, either party has the right to unilaterally refuse to further fulfill its obligations under this Agreement, and neither party can claim damages from the other party.
           <br>
           <br> 6.6. Proof of the existence and duration of force majeure circumstances are documents issued by the competent state authorities of the Republic of Kazakhstan.
           <br>
           <br>
           <br>
           <ol>
               <li>7. RESOLUTION OF DISPUTES AND DISAGREEMENTS </li>
           </ol> 7.1. All disputes or disagreements arising between the Parties under the Agreement or in connection with it are resolved
           through negotiations between them.
           <br>
           <br>7.2. If it is impossible to resolve disagreements through negotiations, they are subject to consideration by the judicial authorities at the location of the Contractor in accordance with the legislation the order of the Republic of Kazakhstan.
           <br>
           <br>
           <br>
           <ol>
               <li>8. FINAL PROVISIONS </li>
           </ol> 8.1. This Agreement is a complete agreement between the Customer and the Contractor.
           The Contractor and the Customer assume obligations to fulfill the terms of the Agreement only to the extent, which is specified in this Agreement.
           <br>
           <br> 8.2. This Agreement shall enter into force upon acceptance and valid until the parties fulfill their obligations.
           <br>
           <br> 8.3. Accepting this Agreement, the Customer
           - gives consent to the collection, processing, use, storage of their personal data in accordance with the policy
           privacy policy of the Contractor's Website located at <ahref="http://pocketmoodle.ddns.net/privacy_policy">http://pocketmoodle.ddns.net/privacy_policy</a>. In the case
           If the Customer withdraws the above consent, the Contractor removes them from its database. Each subsequent request of the Customer to the Contractor for
           the provision of Services is considered the first. In this case, the effect of discounts on the cost of Services or promotions
           does not apply to this Customer.
           <br>
           <br>
           <br> - expresses its consent to receive an advertising
           information from the Contractor distributed over communication networks for the purposes and cases when the need for such
           consent is provided for by the legislation on advertising.
           <br>
           <br>
           <br>
           <ol>
               <li>9. DETAILS OF THE CONTRACTOR </li>
           </ol> IE «Pocket Moodle»
           <br> Address: The Republic of the Kazakhstan, Z10H8P3, Akmola Region, Astana city, Saryarka avenue 11
           <br> TRN: 391720292111
           <br> YYK: в АО «Народный Банк Казахстана»
           <br> BIC: HSBKKZKX
           <br> BC: 19
           <br>
       </div>
   </div>
   {% endblock content %}