{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ static('css/me.css') }}" />
    <div class="grid_system">
        <div class="cell_container">
            {% if user %}
                <div class="cells">
                    {% for key, course in user.courses.items() %}
                        {% if course_id == key %}
                            {% if course|length != 0 %}
                                <div class="cell">
                                    {{ course.name }} - Active: {{ course.active }}
                                    {% for key, grade in course.grades.items() %}
                                        <a>
                                            <div class="button">
                                                <div class="discipline">
                                                    {{ grade.name }}
                                                </div>

                                                <div class="mark">
                                                    {{ grade.percentage}}
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            </div>
                            <div class="cells">
                                {% if course.assignments|length != 0 %}
                                    <div class="cell">
                                        Assignments
                                        {% for ket, assignment in course.assignments.items() %}
                                            <a href="{{ url('assignments', course_id=course.id, ass_id=assignment.id) }}">
                                                <div class="button">
                                                    <div class="discipline">
                                                        {{ assignment.name }}
                                                    </div>
                                                    <div class="mark">
                                                        {{ assignment.remaining }}
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if course.attendance.items()|length != 0 %}
                                    <div class="cell">
                                        Attendance
                                        {% for k in course.attendance.items() %}
                                            <a>
                                                <div class="button">
                                                    <div class="discipline">
                                                        {{ k.0 }}
                                                    </div>
                                                    <div class="mark">
                                                        {{ k.1 }}
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor%}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}