{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ static('css/me.css') }}"/>
    <div class="grid_system">
        {% if not error %}
            <div class="cell_container">
                <div class="cells">
                    {% if user.courses|length != 0 %}
                        <div class="cell">
                            Active Courses
                            {% for key, course in user.courses.items() %}
                                {% if course.active %}
                                    <a href="{{ url('course', course_id=course.id) }}">
                                        <div class="button">
                                            <div class="discipline">
                                                {{ course.name }}
                                            </div>

                                            <div class="mark">
                                                {% if 4 in course.grades %}
                                                    {{ course.grades.4.percentage }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cell">
                            Not Active Courses
                            {% for key, course in user.courses.items() %}
                                {% if not course.active %}
                                    <a href="{{ url('course', course_id=course.id) }}">
                                        <div class="button">
                                            <div class="discipline">
                                                {{ course.name }}
                                            </div>

                                            <div class="mark">
                                                {% if 4 in course.grades %}
                                                    {{ course.grades.4.percentage }}
                                                {% endif %}    
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="cells">
                    {% if user.gpa|length != 0 %}
                        <div class="cell">
                            GPA
                            {% for key, gpa in user.gpa.items() %}
                                <a>
                                    <div class="button">
                                        <div class="discipline">
                                            {{ key }}
                                        </div>

                                        <div class="mark">
                                            {{ gpa }}
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    {% if user.courses|length != 0 %}
                        <div class="cell">
                            Attendance
                            {% for key, course in user.courses.items() %}
                                {% for key, grade in course.grades.items() %}
                                    {% if grade.name == "Attendance" and course.active %}
                                        <a href="{{ url('course', course_id=course.id) }}">
                                            <div class="button">
                                                <div class="discipline">
                                                    {{ course.name }}
                                                </div>

                                                <div class="mark">
                                                    {{ grade.percentage }}
                                                </div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if user.att_statistic|length != 0 %}
                        <div class="cell">
                            Total Attendance
                            {% for k in user.att_statistic.items() %}
                                <a>
                                    <div class="button">
                                        <div class="discipline">
                                            {{ k.0 }}
                                        </div>

                                        <div class="mark">
                                            {{ k.1 }}
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                            <div>
                                <canvas id="pie-chart" style="width:230px; height:300px; margin: 20px auto;"></canvas>
                            </div>
                            
                            <script>
                                var dict = {{ user.att_statistic|tojson }}
                                var data = []
                                for (var key in dict) {
                                    data.push(dict[key])
                                }
                                var config = {
                                    type: 'pie',
                                    data: {
                                        datasets: [{
                                            data: data,
                                            backgroundColor: [
                                                'rgb(255, 99, 132)',
                                                'rgb(54, 162, 235)',
                                                'rgb(255, 205, 86)',
                                                'rgb(144,238,144)',
                                            ]
                                        }],
                                        labels: ['Absent', 'Excused', 'Late', 'Present']
                                    },
                                    options: {
                                        responsive: false
                                    }
                                };
                            
                                window.onload = function() {
                                    var ctx = document.getElementById('pie-chart').getContext('2d');
                                    window.myPie = new Chart(ctx, config);
                                };
                                </script>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}